$hog-red: #D41521;
$hog-red-dark: #9A171F;
$hog-red-darker: #4c0b0f;
$hog-blue-light: #6ACCCF;
$hog-blue: #00ACC7;
$hog-blue-dark: #006C7D;
$hog-gold-light: #ffe9a5;
$hog-gold: #FFD246;
$hog-gold-dark: #A77B00;
$hog-brown: #322529;

@keyframes flipDown {
	0% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
@keyframes flipUp {
	0% {
		transform: rotateX(0);
	}
	100% {
		transform: rotateX(90deg);
	}
}

@keyframes rotateIn {
	0% {
		transform: rotateZ(-60deg) scale(0);
		opacity: 0;
	}
	100% {
		transform: rotateZ(0) scale(100%);
		opacity: 100%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes bgsqrIn {
	0% {
		transform: rotateZ(-135deg) scale(0);
		//transform: scale(0);
	}
	100% {
		transform: rotateZ(45deg) scale(100%);
		//transform: scale(100%);
	}
}

@keyframes bgsqrInRev {
	0% {
		transform: rotateZ(225deg) scale(0);
		//transform: scale(0);
	}
	100% {
		transform: rotateZ(45deg) scale(100%);
		//transform: scale(100%);
	}
}

@font-face {
	font-family: 'ReithSans';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff) format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'ReithSans';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_It.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_It.woff) format('woff');
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'ReithSans';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Bd.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Bd.woff) format('woff');
	font-display: swap;
	font-weight: 700;
}

@font-face {
	font-family: 'ReithSans';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_BdIt.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_BdIt.woff) format('woff');
	font-display: swap;
	font-style: italic;
	font-weight: 700;
}

@font-face {
	font-family: 'ReithSans';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Lt.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Lt.woff) format('woff');
	font-display: swap;
	font-weight: 300;
}

@font-face {
	font-family: 'ReithSans';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_LtIt.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_LtIt.woff) format('woff');
	font-display: swap;
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: 'ReithSans';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBd.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBd.woff) format('woff');
	font-display: swap;
	font-weight: 800;
}

@font-face {
	font-family: 'ReithSans';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBdIt.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBdIt.woff) format('woff');
	font-display: swap;
	font-style: italic;
	font-weight: 800;
}

@font-face {
	font-family: 'ReithSans';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Md.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Md.woff) format('woff');
	font-display: swap;
	font-weight: 500;
}

@font-face {
	font-family: 'ReithSans';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_MdIt.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_MdIt.woff) format('woff');
	font-display: swap;
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: 'ReithSerif';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Rg.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Rg.woff) format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'ReithSerif';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_It.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_It.woff) format('woff');
	font-display: swap;
	font-style: italic;
}

@font-face {
	font-family: 'ReithSerif';
	src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Bd.woff2) format('woff2'),url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Bd.woff) format('woff');
	font-display: swap;
	font-weight: 700;
}

//@import "compass/css3";

/* Start of text3d mixin */
@mixin text3d ($color: #ffd300, $x: 1, $y: -1,  $darken: 1) {
  color: $color;
  text-shadow: 0px 0px 0 darken($color, 14%),
        $x* 1px $y* 1px 0 darken($color, $darken * 15),
        $x* 2px $y* 2px 0 darken($color, $darken * 16),
        $x* 3px $y* 3px 0 darken($color, $darken * 17),
        $x* 4px $y* 4px 0 darken($color, $darken * 18),
        $x* 5px $y* 5px 0 darken($color, $darken * 19),
        $x* 6px $y* 6px 0 darken($color, $darken * 20),
        $x* 7px $y* 7px 0 darken($color, $darken * 21),
        $x* 8px $y* 8px 0 darken($color, $darken * 22),
        $x* 9px $y* 9px 0 darken($color, $darken * 23),
        $x* 10px $y* 10px 0 darken($color, $darken * 24),
        $x* 11px $y* 11px 0 darken($color, $darken * 25),
        $x* 12px $y* 12px 0 darken($color, $darken * 26),
        $x* 13px $y* 13px 12px rgba(0,0,0,0.55),
        $x* 13px $y* 13px 1px rgba(0,0,0,0.5);
}
/* End of text3d mixin */