$hog-red: #D41521;
$hog-red-dark: #9A171F;
$hog-red-darker: #4c0b0f;
$hog-blue-light: #6ACCCF;
$hog-blue: #00ACC7;
$hog-blue-dark: #006C7D;
$hog-gold-light: #ffe9a5;
$hog-gold: #FFD246;
$hog-gold-dark: #A77B00;