{% extends "layout.html" %}
{% block content %}
	<div class="bg-outer">
		<div class="bg-square"></div>
	</div>
	<div class="question-outer">
		<div class="question {{ mode }}">
{#			<div class="question-top">#}
{##}
{#			</div>#}

			<div id="question-bulk" class="question-bulk" data-class="question-bulk">
				<div>
					<div class="qa-text-outer">
						<h1 class="Q">How many words are in Shakespeare's The Tempest?</h1>
						<h1 class="A">16,663</h1>
					</div>
				</div>
			</div>

			<div id="pair1" class="avg l" data-class="avg l">
				<div class="names">
					OUTPOST and YOUNGSTER
				</div>
				<div class="guess">
					420
				</div>
			</div>
			<div id="pair3" class="avg r" data-class="avg r">
				<div class="names">
					INIQUITY and SEMICONDUCTOR
				</div>
				<div class="guess">
					3000
				</div>
			</div>
			<div id="pair2" class="avg m" data-class="avg m">
				<div class="names">
					DOORSTEP and BY-ELECTION
				</div>
				<div class="guess">
					69000
				</div>
			</div>
		</div>
	</div>
	<script src="static?t=js&q=question.js"></script>
{% endblock content %}