{% extends "layout.html" %}
{% block content %}
<div class="outer">
	<script>
		const http_sid = "{{ http_sid }}"
	</script>
	<div class="title">
		<h1>Player: {{ player }}</h1>
	</div>
	<div class="controls">
		<div class="buzzer" onclick="send_buzz()" id="buzzer">

		</div>

		<div id="number-input" class="number hide">
			<input type="number" id="number"><br>
			<button id="sendNumber">Submit</button>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>
<script src="static?t=js&q=remote.js"></script>
{% endblock content %}
