{% extends "layout.html" %}
{% block content %}
<div class="outer">
	<script>
		const http_sid = "{{ http_sid }}"
	</script>
	<div class="title">
		<h1>Player: {{ player }}</h1>
	</div>
{#	<div class="game-controls">#}
{#		<button id="pp" onclick="play_pause()">Start Game</button>#}
{#		<button onclick="restart()">Restart</button>#}
{#	</div>#}
	<div class="controls">
		<div class="buzzer" onclick="send_buzz()" id="buzzer">

		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>
<script src="static?t=js&q=remote.js"></script>
{% endblock content %}
