{% extends "layout.html" %}
{% block content %}
	<script>
		function nextPage() {
		    window.location.href="/{{ goto }}?room={{ room }}";
		}
	</script>
	<div class="bg-outer">
		<div class="bg-square"></div>
		<div class="bg-square small"></div>
		<div class="bg-square smaller"></div>
		<div class="bg-square center smallest"></div>
{#		<div class="bg-square "></div>#}
	</div>

	<div class="titles">
		<h1 class="">{{ round_name }}</h1>
	</div>
	<script src="static?t=js&q=title.js"></script>
{% endblock content %}