body {
	font-family: sans-serif;
}

div#data {
	padding: 2ch;
	font-size: 150%;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	color: grey;
	width: 50vw;
}

div#data>div.player {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

div#data>div:not([style="order: 9999;"]) {
	color: white;
}

.template {
	display: none;
}

body:not(.music) .music {
	display: none;
}