@import 'partials/variables';

body {
	background-color: $hog-red-dark;
}

div.bg-outer {
	position: absolute;
	display: grid;
	place-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

div.bg-square {
	position: fixed;
	aspect-ratio: 1;

	width: 90vw;
	height: 90vw;

	transform-origin: center;
	//transform: rotate(45deg);

	background-color: $hog-red;

	animation-name: bgsqrIn;
	animation-duration: 1s;
	animation-fill-mode: both;
    animation-timing-function: ease-in-out;
	animation-delay: 0s !important;

	border: 0.1em solid $hog-gold-light;
	box-shadow:
		0.4em 0.4em 1.2em 1em #00000060
	;
}

div.scoreboard-outer {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	place-items: center;

	height: 100vh;
	width: 100vw;
}

div.scoreboard {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--player-count) + 1, 1fr);
	align-items: stretch;

	width: 80%;
	margin: auto;
	padding: 1em 0;
	gap: 0.5em;
	justify-content: center;
	height: calc(6em * (var(--player-count) + 1));
	max-height: calc(100vh - 2em);

	overflow: hidden;

	font-size: 1.5rem;
	font-family: "Keep Calm", Helvetica, Arial, sans-serif;

	h1, h2, h3 {
		font-weight: 500;
	}
}

div.row {
	display: grid;
	--bgsq-del: 150ms;

	grid-template-columns: 3em minmax(1em, 5em) 1fr minmax(1em, 5em) 3em;
	grid-template-rows: 1fr;
	gap: 1em;

	max-height: 5em;

	div {
		text-align: center;
		//background-color: $hog-red;
		border: 0.2em ridge $hog-gold;

		text-transform: uppercase;

		display: grid;
		place-items: center;

		h1,h2,h3 {
			//noinspection CssInvalidFunction
			//color: get_text_colour($hog-blue);
			color: white;
			padding-top: calc(8rem/43);

			margin-block-start: 0;
			margin-block-end: 0;
		}


        animation-duration: 1s;
		animation-fill-mode: both;
        animation-timing-function: ease-in-out;
		animation-delay: calc((var(--animation-order) * 250ms) + var(--bgsq-del)) !important;
	}

	div.name {
		grid-area: 1 / 3 / 2 / 4;
		text-align: left;
		padding-left: 1.5em;
		place-items: center start;

		animation-name: fadeIn;

		box-shadow:
			//0 0.5em 1.2em 0.07em #00000060, // shadow A
			//inset 0 0.5em 1.2em 0.07em #00000060, // shadow B
			0 0 0.2em 0.03em $hog-gold, // glow A
			inset 0 0 0.2em 0.03em $hog-gold // glow B
		;

		h2 {
			animation-name: flipDown;
		}
	}

	div.position {
		grid-area: 1 / 2 / 2 / 3;
	}

	div.score {
		grid-area: 1 / 4 / 2 / 5;
	}

	div.position, div.score {
		background-color: $hog-blue;
		//aspect-ratio: 1;
		display: grid;
		place-items: center;

		animation-name: rotateIn;

		box-shadow:
			0 0.5em 1.2em 0.07em #00000060, // shadow A
			//inset 0 0.5em 1.2em 0.07em #00000060, // shadow B
			0 0 0.2em 0.03em $hog-gold, // glow A
			inset 0 0 0.2em 0.03em $hog-gold // glow B
		;
		h2 {
			filter: drop-shadow(0 0.2em 0.2em black);
		}
	}

	div.title {
		grid-area: 1 / 2 / 2 / 5;
		display: grid;
		place-items: center;

		animation-name: flipDown;

		box-shadow:
			0 0.5em 1.2em 0.07em #00000060, // shadow A
			inset 0 0.5em 1.2em 0.07em #00000060, // shadow B
			0 0 0.3em 0.07em $hog-gold, // glow A
			inset 0 0 0.3em 0.07em $hog-gold // glow B
		;

		h1 {
			filter: drop-shadow(0 0.2em 0.2em black);
		}
	}
}

@keyframes flipDown {
	0% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

@keyframes rotateIn {
	0% {
		transform: rotateZ(-60deg);
		opacity: 0;
	}
	//50% {
	//	opacity: 0;
	//}
	100% {
		transform: rotateZ(0);
		opacity: 100%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}

@keyframes bgsqrIn {
	0% {
		transform: rotateZ(-135deg) scale(0);
		//transform: scale(0);
	}
	100% {
		transform: rotateZ(45deg) scale(100%);
		//transform: scale(100%);
	}
}