@media only screen and (orientation: landscape) {
    table, th, td{
        border: 1px solid white;
        border-collapse: collapse;
        width: 100%;
    }
    td {
        text-align: center;
        /*padding: 2% 10px;*/
        width: 29px;
        height: 29px;
        /*width: 200%;*/
    }
}